* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box p {
    font-size: 1.4rem;
    font-weight: lighter;
}


.link-arrow img {
    transition: 0.5s ease-in-out;
}

.link-arrow:hover img {
    transform: translateX(50%);
}

.link-arrow:hover {
    opacity: .6;
}

.path-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    width: fit-content;
}

.heading {
    font-size: 1.5rem;
    font-weight: bolder;
}


.get-in-touch-btn {
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    background-color: #000;
    padding: 0 3rem;
    border-radius: 2px;
    font-weight: 500;
    color: #fff;
    margin-top: 5rem;
    padding: 1rem 2.5rem;

}

.get-in-touch-btn:hover {
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .9s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}